/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Radio Canada Big", sans-serif;
    position: relative;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/* css reset */

/* home page */
header {
    background-image: url("alex-litvin-MAYsdoYpGuk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    background-color: #0E0E0E;
    color: whitesmoke;
    height: 25vh;
    align-content: center;
    padding: 0 1em;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.001em;
}

.header-text-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header a {
  font-size: 0.75rem;
  text-decoration: none;
  color: whitesmoke;
}

.search-bar {
  position: absolute;
  top: 22.5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2E2E2F;
  color: #A5A5A5;
  border-radius: 6px;
  width: 85%;
  min-width: 400px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.search-bar i {
  font-size: 1.25rem;
  padding: 8px 15px;
}

input {
  background-color: #2E2E2F;
  color: #A5A5A5;
  border: none;
  font-size: 0.875rem;
  width: 75%;
  padding: 8px;
}

input:focus {
  background-color: #2E2E2F;
}

main {
    background-color: #121212;
    color: #2E2E2F;
    justify-content: center;
    text-align: center;
    font-size: 1.875em;
}

.icon {
    font-size: 3.5em;
    margin-top: 1.25em;
    margin-bottom: 0.2em;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 75vh;
  /* width: 100vw; */
}

.movie {
  color: whitesmoke;
  width: 100%;
  height: 14.286em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(120, 120, 120);
  font-size: 0.875rem;
  padding: 2.429em 3.143em;
  text-wrap: wrap;
}

.movie-img-container{
  height: 9.188em;
  min-width: 6.188em;
  max-width: 6.188em;
}

.movie img {
  width: 100%;
  height: 100%;
  display: block;
}

.movie-info {
  text-align: left;
  margin-left: 1.5em;
  flex-grow: 1;
}

.movie h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.75rem;
  margin: 0.625em 0;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#movie-search-err {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

/* buttons and links */
a:hover,
a:focus,
.add-btn p:hover,
.add-btn p:focus,
.remove-btn p:hover, 
.remove-btn p:focus  {
  cursor: pointer;
  text-decoration: underline;
}

.btn:hover,
.btn:focus {
  background-color: #0e0e0e;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

.search-bar button {
  color: whitesmoke;
  background-color: #4B4B4B;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: auto;
  align-self: stretch;
  padding: 0 2.51em;
  border-radius: 0 4px 4px 0;
}

.full-description-btn {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.hidden {
  display: none;
}

.add-btn,
.remove-btn {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.fa-circle-plus,
.fa-circle-minus,
.add-movies-wrapper span {
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
  color: whitesmoke;
}

/* .add-movies-wrapper {
  transform: translateY(-100%);
} */

.add-movies-wrapper a {
  text-decoration: none;
}

/* watchlist page */

.watchlist-body .header {
  width: 100vw;
}

.watchlist-body .main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  justify-content: flex-start;
}

.watchlist-body .movie {
  margin: 0 auto;
}

.watchlist-placeholder {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 200px;
}

/**************** 
  media queries
****************/

@media (min-width: 1000px) {
  input {
    background-color: #007BFF;
  }

  header,
  .watchlist-body .header {
    height: 30vh;
    padding: 0 2.5em;
    font-size: 2rem;
  }

  header a {
    font-size: 1.5rem;
    transform: translateY(5px);
  }

  .search-bar {
    top: 28vh;
  }

  .search-results-container {
    align-items: center;
    height: 70vh;
  }

  .movie {
    max-width: 1000px;
  }

  @media (min-width: 1280px) {
    input {
      background-color: #2fff00;
    }

    header,
    .watchlist-body .header {
      padding: 0 120px;
    }

    .header-text-container {
      max-width: 1300px;
    }
  }
}